# Yahoo Finance

In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

In [2]:
frequency = "1d"
start_time = "2015-12-13"
end_time = (datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d')  # Set end_time to yesterday

In [3]:
# Ticker symbols for 13-week, 10-year, and 30-year US Treasuries
# Note: These ticker symbols are commonly used representations but should be verified.
tickers = ["^IRX", "^TNX", "^TYX", "SPY", "QQQ"]  # Replace with actual ticker symbols if different

# Create a dictionary to store the data
historical_data = {}

# Retrieve historical data for each Treasury
for ticker in tickers:
    historical_data[ticker] = yf.download(ticker, start=start_time, end=end_time, interval=frequency)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [4]:
combined_data = pd.DataFrame()

for ticker, data in historical_data.items():
    # Extract the 'Close' column and rename it to the ticker's name
    close_data = data['Close'].rename(ticker)
    # Join with the main DataFrame
    combined_data = combined_data.join(close_data, how='outer')

In [5]:
combined_data.tail(10)

             ^IRX   ^TNX   ^TYX         SPY         QQQ
Date
2023-12-11  5.233  4.239  4.330  461.989990  395.519989
2023-12-12  5.248  4.206  4.304  464.100006  398.670013
2023-12-13  5.223  4.033  4.183  470.500000  403.739990
2023-12-14  5.215  3.930  4.054  472.010010  403.390015
2023-12-15  5.225  3.928  4.027  469.329987  405.339996
2023-12-18  5.225  3.954  4.069  471.970001  407.079987
2023-12-19  5.238  3.922  4.035  474.839996  409.160004
2023-12-20  5.230  3.877  4.005  468.260010  403.079987
2023-12-21  5.210  3.894  4.036  472.700012  407.769989
2023-12-22  5.208  3.901  4.054  473.649994  408.380005

In [ ]:
combined_data.to_parquet('yahoo-finance.parquet')